<nz-table #movieTable [nzData]="movieList">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Size</th>
      <th>Update Date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of movieTable.data">
      <td>{{ data.fileName }}</td>
      <td>{{ data.fileType }}</td>
      <td>{{ data.displaySize }}</td>
      <td>{{ data.lastModifiedStr }}</td>
      <td>
        <a (click)="openVeido(data)">Open</a>
      </td>
    </tr>
  </tbody>
</nz-table>
